In [1]:
import sqlite3

In [ ]:
DB :
    table1 Emp
    table2 Dept

In [ ]:
pymysql sqlconnector 
cx_oracle

connect(db="db1.db",hostname=,port=,password= )

In [2]:
conn = sqlite3.connect("db1.db")

In [3]:
c = conn.cursor()

In [ ]:
Emp :
    id 
    name 
    email 
    sal

In [9]:
c.execute("""CREATE TABLE IF NOT EXISTS EMP1 (ID INT PRIMARY KEY,NAME TEXT,EMAIL TEXT,SALARY REAL)""")

In [21]:
try:
    c.execute("""INSERT INTO EMP1(ID,NAME,EMAIL,SALARY) VALUES (104,'XYZ','xyz@GMAIL.COM',55000)""")
    c.execute("COMMIT")
except sqlite3.IntegrityError:
    print("Record already exist")

In [12]:
c.execute("SELECT * FROM EMP1")

for row in c:
    print(row)

(101, 'ABC', 'ABC@GMAIL.COM', 55000.0)

In [19]:
id  = 102
name ="PQR"
email = "pqr@gmail.com"
sal = 85000
try:
    c.execute(""" INSERT INTO EMP1(ID,NAME,EMAIL,SALARY) VALUES (?,?,?,?)""",(id,name,email,sal))
    c.execute("COMMIT")
except sqlite3.IntegrityError:
    print("Record already exist")

Record already exist

In [27]:
c.execute("SELECT * FROM EMP1")
print(next(c))
print(next(c))
print(next(c))
print(next(c))

(101, 'ABC', 'ABC@GMAIL.COM', 55000.0)
(102, 'PQR', 'pqr@gmail.com', 85000.0)
(103, 'RST', 'rst@GMAIL.COM', 55000.0)
(104, 'XYZ', 'xyz@GMAIL.COM', 55000.0)

In [28]:
c.execute("SELECT * FROM EMP1")
for row in c:
    print(row)

(101, 'ABC', 'ABC@GMAIL.COM', 55000.0)
(102, 'PQR', 'pqr@gmail.com', 85000.0)
(103, 'RST', 'rst@GMAIL.COM', 55000.0)
(104, 'XYZ', 'xyz@GMAIL.COM', 55000.0)

In [29]:
c.execute("SELECT * FROM EMP1")
print(c.fetchall())

[(101, 'ABC', 'ABC@GMAIL.COM', 55000.0), (102, 'PQR', 'pqr@gmail.com', 85000.0), (103, 'RST', 'rst@GMAIL.COM', 55000.0), (104, 'XYZ', 'xyz@GMAIL.COM', 55000.0)]

In [31]:
c.execute("SELECT * FROM EMP1")
print(c.fetchone())
print(c.fetchone())

(101, 'ABC', 'ABC@GMAIL.COM', 55000.0)
(102, 'PQR', 'pqr@gmail.com', 85000.0)

In [32]:
c.execute("UPDATE EMP1 SET SALARY = 78000 WHERE ID = 102")
c.execute("COMMIT")

In [33]:
c.execute("SELECT * FROM EMP1 WHERE ID = 102")
print(next(c))

(102, 'PQR', 'pqr@gmail.com', 78000.0)

In [35]:
c.execute("DELETE FROM EMP1 WHERE ID =103")
c.execute("COMMIT")

In [36]:
c.execute("SELECT * FROM EMP1")
print(c.fetchall())

[(101, 'ABC', 'ABC@GMAIL.COM', 55000.0), (102, 'PQR', 'pqr@gmail.com', 78000.0), (104, 'XYZ', 'xyz@GMAIL.COM', 55000.0)]

In [ ]:
Database 
    tables roes and cols 
    
Mongo Db :
    database 
        collections 
            document {"name":"ABC"......}