In [ ]:
0,1,1,2,3....

In [1]:
l = []
first_num = 0
sec_num = 1
l.append(sec_num)
for value in range(20):
    next_num = first_num + sec_num
    l.append(next_num)
    first_num,sec_num = sec_num,next_num
    
print(l)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]

In [ ]:
Dict :
    - Mutable => add update and delete
    - d = {"name":"ABC","email":"abc@gmail.com"}
    - unordered => not support indxing and slicing 
    - all the keys in dict should be immutable str,int,float ,tuple
    - all the keys should be unique

In [ ]:
l = [10,20,30,40,50,70,80]

builtin hash function : hash index 
hash tables :
hash index key reftovalue  

2          email   address of email val
3          name    add of value 

O(1)

In [8]:
d = {"name":"ABC","email":"abc@gmail.com","contact":"87123456789"}
print(type(d),d)

<class 'dict'> {'name': 'ABC', 'email': 'abc@gmail.com', 'contact': '87123456789'}

In [4]:
print(d["name"])

ABC

In [6]:
print(d["age"])

KeyError: 'age'

In [ ]:
{
    {
        
    }
    
    
    {
        
    }
    
}

In [1]:
d = {"name":"ABC","email":"abc@gmail.com","contact":"87123456789"}
print(d)

{'name': 'ABC', 'email': 'abc@gmail.com', 'contact': '87123456789'}

In [12]:
print(d['age'])

KeyError: 'age'

In [4]:
print(d.get("email"))

abc@gmail.com

In [3]:
print(d.setdefault("email",30))
print(d)

abc@gmail.com
{'name': 'ABC', 'email': 'abc@gmail.com', 'contact': '87123456789', 'age': 30}

In [7]:
#d ={1:1,2:4,3:9....10:100}
d1 ={}
for key in range(1,11):
    d1.setdefault(key,key ** 2)

print(d1)
print(d1.get(9))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
81

In [11]:
print(ord('a'),ord('z'))
print(chr(97),chr(122))

97 122
a z

In [ ]:
'a':97,'b':98,'c':99.........................'z':122

In [12]:
d2 = {}
for value in range(ord('a'),ord('z')+1):
    d2.setdefault(chr(value),value)
print(d2)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [15]:
l1 = [10,20,30,40,50]
l2 = [100,200,300,400,500,600]
l3 = list(zip(l1,l2))
print(l3)

[(10, 100), (20, 200), (30, 300), (40, 400), (50, 500)]

In [ ]:
d ={(1,10):0,(11,20):0,(21,30):0.............(91,100):0}

In [25]:
d3 = {}
l = [45,10,11,12,5,7,90,70,65]
# num1 = 45
for key in zip(range(1,92,10),range(10,101,10)):
    d3.setdefault(key,0)
# print(d3)

for num1 in l:
    for key in d3:
        if num1 >= key[0] and num1 <= key[1]:
            d3[key] = d3[key] + 1
print(d3)

{(1, 10): 3, (11, 20): 2, (21, 30): 0, (31, 40): 0, (41, 50): 1, (51, 60): 0, (61, 70): 2, (71, 80): 0, (81, 90): 1, (91, 100): 0}

In [26]:
d = {"name":"ABC","email":"abc@gmail.com","contact":"87123456789"}
d['age'] =30
print(d)

# d['age'] =50
# print(d)
d.setdefault("age",50)
print(d)

{'name': 'ABC', 'email': 'abc@gmail.com', 'contact': '87123456789', 'age': 30}
{'name': 'ABC', 'email': 'abc@gmail.com', 'contact': '87123456789', 'age': 30}

In [ ]:
Delete methods :
    1 pop => remove specific key and value pair (return only value)
    2 popitem => remove last key and value pair (only after 3.6v ) (return key and value as tuple )
    3 clear => remove all key and value pair (empty dict )
    4 del => del the reference

In [33]:
d = {"name":"ABC","email":"abc@gmail.com","contact":"87123456789"}
# r = d.popitem()
# print(d,r)
# r = d.popitem()
# print(d,r)

# r =  d.pop("name")
# print(d,r)

d.clear()
print(d)

del d
print(d)

{}

NameError: name 'd' is not defined

In [9]:
d = {"name":"ABC","email":"abc@gmail.com","contact":"87123456789"}
for key,value in d.items():
    print(key,value)

name ABC
email abc@gmail.com
contact 87123456789

In [7]:
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['name', 'email', 'contact'])
dict_values(['ABC', 'abc@gmail.com', '87123456789'])
dict_items([('name', 'ABC'), ('email', 'abc@gmail.com'), ('contact', '87123456789')])

In [17]:
d1 = {"ABC":"5,4,4,5,5","PQR":"2,4,4,2,2","XYZ":"1,4,1,1,1","RST":"4,4,4,4,4"}
# d2 = {"ABC":4.2,"PQR":2.8,"XYZ":2.2,"RST":4}
d2 = {}
for key,value in d1.items():
#     print(key,value)
    reviews = value.split(",")
    #print(reviews)
    sum = 0
    for val in reviews:
        sum =  sum + int(val)
    #print(sum/5)
    d2.setdefault(key,sum/5)
print(d2)

{'ABC': 4.6, 'PQR': 2.8, 'XYZ': 1.6, 'RST': 4.0}

In [22]:
d1 = {1:1,2:4,3:9}
d2 = {4:16,5:25}
d1.update(d2)
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [24]:
l1 = [1,2,3,4,5,6]
l2 = [1,4,9,16,25,36]
l = dict(zip(l1,l2))
print(l)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [27]:
l1 = [10,20,30,40,50,60]
d1 = dict.fromkeys(l1,10)
print(d1)

{10: 10, 20: 10, 30: 10, 40: 10, 50: 10, 60: 10}

In [36]:
s = "abcdaaabbbbcccdddddeeeeeeeerrryyyyyyyyyy"
d1 ={}
for key in s:
    if key in d1:
        d1[key] = s.count(key)
    else:
        d1.setdefault(key,0)
max_key = None
max_value = 0

for key,value in d1.items(): 
    if value > max_value:
        max_value = value 
        max_key = key
        
print(max_value,max_key)

10 y

In [34]:
d1 = {1:1,2:4,3:9,4:16}
print(d1.setdefault(5,25))
print(d1)

25
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
Sets : 
    - all the elements  should be unique 
    
    s1 = {10,20,30,40,50}
    s2 = {30,40,50,60,70}
    
    s1 union s2 = {10,20,30,40,50,60,70}
    
    s1 intesection s2 = {30,40,50}
    
    s1 difference s2 = {10,20}
    s2 difference s1 = {60,70}
    
    s1 symmetric difference s2 = {10,20,60,70}

    s3 = {10,20}
    
    s3 is subset of s1
    s1 is superset of s3

In [ ]:
Sets :
    - dict with value as None 
    - s = {10,20,30,40,50}
    - s = {10:None,20:None,30:None}
    - all the elements should be unique 
    - all the elemnts in set should be immutable 
    - mutable add, upadte and delete 
    - unordered => no indexing and slicing

In [40]:
s1 = {10,20,30,40,50}
print(type(s1),s1)

<class 'set'> {40, 10, 50, 20, 30}

In [39]:
s1 = set()
print(type(s1))

<class 'set'>

In [41]:
s1 = {10,20,30,40,50}
s2 = {30,40,50,60,70}

In [42]:
s3 = s1.union(s2)
print(s3)

{70, 40, 10, 50, 20, 60, 30}

In [43]:
s1.update(s2)
print(s1)

{70, 40, 10, 50, 20, 60, 30}

In [48]:
s1 = {10,20,30,40,50}
s2 = {30,40,50,60,70}

s3 = s1.intersection(s2)
print(s3)
s1.intersection_update(s2)
print(s1)

{40, 50, 30}
{40, 50, 30}

In [50]:
s1 = {10,20,30,40,50}
s2 = {30,40,50,60,70}

s3 = s1.difference(s2)
print(s3)

s1.difference_update(s2)
print(s1)

{10, 20}
{10, 20}

In [52]:
s1 = {10,20,30,40,50}
s2 = {30,40,50,60,70}

s3 = s1.symmetric_difference(s2)
print(s3)

s1.symmetric_difference_update(s2)
print(s1)

{20, 70, 10, 60}
{70, 10, 20, 60}

In [55]:
s1 = {10,20,30,40,50}
s3 = {10,20,30}
print(s3.issubset(s1))
print(s1.issuperset(s3))

True
True

In [60]:
l1 = [10,45,20,34,5,78,41,52]
l2 = [10,20,45,78,100,200,34,45,20]
# single sorted unique list 

s1 = set(l1)
s2 = set(l2)

s3 = s1.union(s2)
print(s3)

l3 = sorted(s3)
print(l3)

{34, 100, 5, 200, 41, 10, 45, 78, 20, 52}
[5, 10, 20, 34, 41, 45, 52, 78, 100, 200]