In [1]:
l = [10,20,30,40,50]
l2 = []

for value in l:
    l2.append(value * value)
print(l2)

[100, 400, 900, 1600, 2500]

In [2]:
l = [10,20,30,40,50]
l2 = [value * value for value in l]
print(l2)

[100, 400, 900, 1600, 2500]

In [3]:
l = ['abc',"abcd","abcdedf","asgdgsdast"]
l2 =[len(value) for value in l]
print(l2)

[3, 4, 7, 10]

In [4]:
l = [10,15,20,25,30,35,40,50]
l2 = [value for value in l if value %2 == 0]
print(l2)

[10, 20, 30, 40, 50]

In [5]:
l = [10,15,20,25,30,35,40,50]
l2 = ["Even" if value %2 == 0 else "Odd" for value in l]
print(l2)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Even']

In [6]:
for val1 in range(1,5):
    for val2 in range(100,105):
        print(val1,val2)

1 100
1 101
1 102
1 103
1 104
2 100
2 101
2 102
2 103
2 104
3 100
3 101
3 102
3 103
3 104
4 100
4 101
4 102
4 103
4 104

In [7]:
l = [(val1,val2) for val1 in range(1,5) for val2 in range(100,105)]
print(l)

[(1, 100), (1, 101), (1, 102), (1, 103), (1, 104), (2, 100), (2, 101), (2, 102), (2, 103), (2, 104), (3, 100), (3, 101), (3, 102), (3, 103), (3, 104), (4, 100), (4, 101), (4, 102), (4, 103), (4, 104)]

In [1]:
l = [[1,2,3],[4,5,6],[7,8,9]]
# l2 = [1,2,3,4,5,6,7,8,9]

l2 = [val1 for value in l for val1 in value]
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
every compre can be converted to normal for loop but viceversa is not true

In [ ]:
a:97,b:98,.....z:122

In [2]:
d = {chr(value):value for value in range(97,123)}
print(d)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [ ]:
1:1 ,2:4,...10:100

In [3]:
d = {value : value * value for value in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [5]:
l = [10,20,25,10,20,35,45,12,45,10,10]
l2 = {value %2 for value in l}
print(l2)

{0, 1}

In [6]:
l = [10,20,30,40,50,60]
l2 = [value ** 2 for value in l]
print(l2)

[100, 400, 900, 1600, 2500, 3600]

In [8]:
def sqr(num1):
    return num1 ** 2

l = [10,20,30,40,50,60]
m = list(map(sqr,l))
print(m)

[100, 400, 900, 1600, 2500, 3600]

In [12]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
def add(num1,num2,num3):
    return num1+num2+num3

l1 = [1,2,3,4,5]
l2 = [10,20,30,40,50]
l3 = [100,200,300,400,500]

l4 = list(map(add,l1,l2,l3))
print(l4)

[111, 222, 333, 444, 555]

In [16]:
def even(num1):
    if num1 %2 == 0:
        return True
    else:
        return False

l = [10,15,20,25,30,35,40,45]
f = list(filter(even,l))
print(f)

[10, 15, 20, 25, 30, 35, 40, 45]

In [ ]:
1...100 => perfect no :
    
6 => 1 +2 +3 => 6 perfect num

In [20]:
def perfect(num):
    sum = 0
    for value in range(1,num):
        if num % value == 0:
            sum = sum + value
    if sum == num :
        return True
    else:
        return False
    
l = list(filter(perfect,range(1,201)))
print(l)

[6, 28]

In [23]:
import timeit

t = timeit.timeit(stmt ="""
l2 = []
for value in range(1,10000000):
    l2.append(value * value)    
""",number = 1)
print(t)

2.273742345974597

In [25]:
import timeit
t = timeit.timeit(stmt =""" 
l2 = [value * value for value in range(1,10000000)]
""",number = 1)
print(t)

1.6754866916146653

In [26]:
import timeit
t = timeit.timeit(stmt = """
def sqr(num):
    return num * num
m = map(sqr,range(1,10000000))
""",number = 1)
print(t)

2.643062373408611e-06

In [1]:
def sqr(num):
    return num * num

l = [10,20,30,40,50]
m = list(map(sqr,l))
print(m)

[100, 400, 900, 1600, 2500]

In [2]:
l = [10,20,30,40,50]
m = list(map(lambda num : num * num,l))
print(m)

[100, 400, 900, 1600, 2500]

In [4]:
def add(num1,num2,num3):
    return num1 + num2 + num3

l1 = [1,2,3,4,5]
l2 = [10,20,30,40,50]
l3 = [100,200,300,400,500]

l4 = list(map(add,l1,l2,l3))
print(l4)

[111, 222, 333, 444, 555]

In [5]:
l1 = [1,2,3,4,5]
l2 = [10,20,30,40,50]
l3 = [100,200,300,400,500]

l4 = list(map(lambda num1,num2,num3 : num1 + num2 + num3 ,l1,l2,l3))
print(l4)

[111, 222, 333, 444, 555]

In [6]:
def even(num1):
    if num1 %2  == 0:
        return True
    else:
        return False

l = [10,15,20,25,30,45,50]
l2 = list(filter(even,l))
print(l2)

[10, 20, 30, 50]

In [7]:
l = [10,15,20,25,30,45,50]
l2 = list(filter(lambda num1: num1 % 2 == 0,l))
print(l2)

[10, 20, 30, 50]

In [10]:
char = "z"
f = lambda char : char in "aeiou" 
print(f(char))

False